@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css');
html,
body {
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
}
body {
  width: 90%;
  margin: 0 5%;
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxP.ttf) format('truetype');
}
nav {
  display: flex;
  background-color: #E8E8E8;
}
nav a {
  text-decoration: none;
  color: inherit;
  padding: 20px 20px;
}
nav .active {
  background-color: #DCDCDC;
}
.intro {
  display: flex;
  padding: 20px 0;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.intro .intro-img {
  width: 35%;
}
.intro .intro-img img {
  width: 100%;
  height: auto;
}
.intro .intro-text {
  width: 80%;
  text-align: center;
}
.skills {
  display: flex;
  padding: 20px 0;
  width: 80%;
  margin: 0 10%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.skills .skills-header {
  width: 100%;
  text-align: center;
  padding-bottom: 20px;
}
.skills .skill {
  text-align: center;
  width: 20%;
  margin: 10px 1.5%;
  padding-top: 16px;
  background-color: #E8E8E8;
}
@media only screen and (max-width: 800px) {
  .skills .skill {
    width: 28%;
    margin: 10px 2.5%;
  }
}
.skills .skill ion-icon {
  font-size: 2.4rem;
}
.work-history {
  display: flex;
  padding: 20px 0;
  flex-direction: column;
  width: 80%;
  margin: 0 10%;
}
.work-history .work-history-header {
  width: 100%;
  text-align: center;
  padding-bottom: 20px;
}
.work-history .job {
  display: flex;
  justify-content: space-between;
}
.work-history .job p {
  width: 25%;
  text-align: center;
}
.work-history .job:nth-child(odd) {
  background-color: #E8E8E8;
}
.contact {
  display: flex;
  padding: 20px 0;
}
.contact .contact-header {
  width: 100%;
  text-align: center;
  padding-bottom: 20px;
}
footer {
  background-color: #333;
  color: white;
  display: flex;
  flex-direction: column;
  width: 100%;
}
footer .social {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 20px 0 10px 0;
}
footer .social-link {
  padding: 0 20px;
}
footer .social-link a {
  text-decoration: none;
  font-size: 32px;
  color: white;
  transition: 0.3s;
}
footer .social-link a:hover {
  text-decoration: none;
  color: white;
}
footer #copyright {
  width: 100%;
  text-align: center;
  padding-bottom: 5px;
}
